{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", "tab"],
		"no-undef": ["warn"]
    }
}
